<header id="header" class="header-section d-flex align-items-center">
    <div class="container">
        <nav class="navbar">
            <a href="#home" class="navbar-brand">
                <img class="logo-light" src="~/Content/img/logo-siyah.png" alt="Apptex">
                <img id="#home" class="logo-dark" src="~/Content/img/logo-kirmizi.png" alt="Apptex">
            </a>

            <div class="d-flex menu-wrap align-items-center mobilButon">
                <div id="navmenu" class="mainmenu">
                    <ul class="nav">
                        <li><a data-scroll class="nav-link active" href="#home">Anasayfa <span class="sr-only">(current)</span></a></li>
                        <li><a data-scroll class="nav-link" href="#service">Hizmetler</a></li>
                        @*<li><a data-scroll class="nav-link" href="#about">Bize Katıl</a></li>*@
                        <li><a data-scroll class="nav-link" href="#portfolio">İş Ortakları</a></li>
                        <li><a data-scroll class="nav-link" href="#contact">İletişim</a></li>
                    </ul>
                </div>

                <a href="#about" data-toggle="modal" data-target="#contact-modal" class="header-btn">İletişime Geç</a>




            </div>
        </nav>
    </div>
</header> <!--header-section-->
